################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ArcMapAddinVoronoi/obj
/LibVoronoi/bin/Debug
/LibVoronoi/obj
/ArcMapAddinVoronoi/bin/Debug
